@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&family=Oswald:wght@600;700&display=swap");

// #2f361f
$color1: hsl(78, 27%, 17%);

// #3d7664
$color2: hsl(161, 32%, 35%);

// #f0ecce
$color3: hsl(53, 53%, 87%);

// #ff4a4a
$color4: hsl(0, 100%, 65%);

// #000000
$color5: hsl(0, 0%, 0%);